

# Node miljø
NODE_ENV=development

# Enforce login (false for lokal utvikling uten ID-porten)
ENFORCE_LOGIN=false

# Server konfigurasjon
HOST=0.0.0.0
PORT=4321

PUBLIC_GITHUB_SHA="local"
PUBLIC_IS_LOCALHOST="true"
PUBLIC_FARO_URL="http://localhost:12347/collect"
