

# Node miljø
NODE_ENV=development

# Enforce login (false for lokal utvikling uten ID-porten)
ENFORCE_LOGIN=false

# Server konfigurasjon
HOST=0.0.0.0
PORT=4321

# Arena meldekort API
MELDEKORT_API_URL=https://meldekort-api.intern.dev.nav.no
MELDEKORT_API_AUDIENCE=dev-gcp:meldekort:meldekort-api
