

# Node miljø
NODE_ENV=development

# Enforce login (false for lokal utvikling uten ID-porten)
ENFORCE_LOGIN=false

# Server konfigurasjon
HOST=0.0.0.0
PORT=4321

# Arena meldekort API
MELDEKORT_API_URL=https://meldekort-api.intern.dev.nav.no
MELDEKORT_API_AUDIENCE=dev-gcp:meldekort:meldekort-api

# Tiltakspenger meldekort API
TILTAKSPENGER_API_URL=https://tiltakspenger-meldekort-api.intern.dev.nav.no
TILTAKSPENGER_API_AUDIENCE=dev-gcp:tpts:tiltakspenger-meldekort-api

# DP (dagpenger) meldekortregister API
DP_API_URL=https://dp-meldekortregister.intern.dev.nav.no
DP_API_AUDIENCE=dev-gcp:teamdagpenger:dp-meldekortregister
