---
import '@navikt/ds-css';
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meldekort - Landingsside</title>
  </head>
  <body>
    <main>
      <h1>Meldekort Landingsside</h1>
      <p>Velkommen til meldekort landingsside</p>
    </main>
  </body>
</html>
